<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/home.css') }}" name="">
<title>Create New Record</title>
<div>
    <h1>Create New Record</h1>

    <form action="/new/create" method="post">
        <p>First Name</p>
        <input type="text" name="fname">

        <p>Last Name</p>
        <input type="text" name="lname">

        <p>Phone Number</p>
        <input type="text" name="phone">

        <p>Test 1 Score</p>
        <input type="number" name="t1">

        <p>Test 2 Score</p>
        <input type="number" name="t2">

        <p>Test 3 Score</p>
        <input type="number" name="t3">

        <p>Test 4 Score</p>
        <input type="number" name="t4">

        <button type="submit">
            Create Record
        </button>
        
    </form>
</div>